.st{
    color: blue;
}
.nd
{
    font-size: 16px;
    color: rgb(33, 58, 7);
}
.rd{
    background-color: red;
    color: violet;
}
.th{
    border: 1px solid black;
    margin: 10px;
    color: chartreuse;
}